{% load staticfiles %}
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 location">
        SIA „Krimelte Latvia”<br>
        Katlakalna iela 11C
      </div>
      <div class="col-md-4 phone">+371 67702052</div>
      <div class="col-md-4 mail">
        <a href="mailto:krimelte@krimelte.lv">krimelte@krimelte.lv</a>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'libs/magnific-popup/dist/jquery.magnific-popup.min.js' %}" charset="utf-8"></script>
<script src="{% static 'libs/mixitup-master/build/jquery.mixitup.min.js' %}"></script>
<script src="{% static 'js/common.js' %}" charset="utf-8"></script>
</body>
</html>