{% load staticfiles %}
{% include 'nav_bar.html' %}
  <div class="product_home">
    <div class="container">
      <div class="row">
        <div class="separator"></div>
        <h1>Instrukcijas</h1>
        <div class="instruction">
          <h3><b>Garantijas noteikumi</b></h3>
          <ul>
              {% for obj in instr %}
                  {% if obj.instruction_category == "cat1" %}
                      <li><a href="{{ MEDIA_URL }}{{ obj.instruction_data.url }}">{{ obj.instruction_name }}</a></li>
                  {% endif %}
              {% endfor %}
          </ul>
          <h3><b>Plākšņu montāžas instrukcijas un pielietojumi</b></h3>
          <ul>
              {% for obj in instr %}
                  {% if obj.instruction_category == "cat2" %}
                      <li><a href="{{ MEDIA_URL }}{{ obj.instruction_data.url }}">{{ obj.instruction_name }}</a></li>
                  {% endif %}
              {% endfor %}
          </ul>
          <h3><b>Plākšņu sertifikāti un ekspluatācijas īpašību deklerācijas</b></h3>
          <ul>
              {% for obj in instr %}
                  {% if obj.instruction_category == "cat3" %}
                      <li><a href="{{ MEDIA_URL }}{{ obj.instruction_data.url }}">{{ obj.instruction_name }}</a></li>
                  {% endif %}
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


{% include 'footer.html' %}
