{% load staticfiles %}
{% include "nav_bar.html" %}
  <div class="product_home">
    <div class="container">
      <div class="row">
        <div class="separator"></div>
        <h1>Kontakti</h1>
        <div class="contacts_text col-sm-3">
          <br>
          <h3><b>SIA „Krimelte Latvia”</b></h3>
          <p>Katlakalna iela 11C, Rīga, LV-1073</p>
          <p><b>tel.:  </b>+371 67702052 <br>
          <b>faks.:</b> +371 67702849</p>
          <p>PVN reģ. Nr LV40003711498 <br>
              A/S Swedbank, kods HABALV22 <br>
              Konts: LV75HABA0551008574922</p>
          <p><b>e-pasts: </b><a href="mailto:krimelte@krimelte.lv">krimelte@krimelte.lv</a></p>
          <br>
          <h3><b>Projektu vadītājs</b></h3>
          <p>Rolands Naglis</p>
          <p>Mob. +371 2929 6873</p>
          <p><a href="mailto:rolands@krimelte.lv">rolands@krimelte.lv</a></p>
        </div>
        <div class="contact_map col-sm-9">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d915.4618744089871!2d24.20045902255123!3d56.9257108442211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eecdf86325587b%3A0xeabf204a2ae7c414!2sKatlakalna+iela+11C%2C+Latgales+priek%C5%A1pils%C4%93ta%2C+R%C4%ABga%2C+LV-1073!5e0!3m2!1sru!2slv!4v1463766429387" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
