{% load staticfiles %}
{% include "nav_bar.html" %}
  <div class="product_home">
    <div class="container">
      <div class="row">
        <div class="separator"></div>
        <h1>Par mums</h1>
        <div class="parmums">
          <br>
          <p>
  Krimelte Ltd. ir ražošanas uzņēmums, kas atrodas Igaunijas galvaspilsētā, kurš ir specializējies šuvju hermetizētāju un izolācijas putu ražošanā. Uzņēmums tika dibināts 1994. gadā un ražošana Igaunijā sākās 1998. gadā.
          </p>
          <p>
            Krimelte Ltd. strauji attīstījās no mazumtirgotāja par vienu no vadošajiem ražotājiem Eiropā. Līdz šodienai mūsu tirgus aptver 40 valstis sākot no ES līdz Japānai. Visveiksmīgākie zīmoli ir PENOSIL, REMONTIX un TEMPSI.
          </p>
          <p>
            Igaunijas skarbo klimatisko apstākļu dēļ mēs saviem produktiem esam noteikuši īpaši augstus kvalitātes standartus. Mēs pastāvīgi strādājam pie kvalitātes un ieviešam jaunus produktus. Lielais profesionāļu skaits gala lietotāju vidū pierāda, ka mes varam garantēt vislabāko kvalitāti, apkalpošanu un cenas.
          </p>
          <p>
            Ātrums, elastīgums un stabilitāte ir galvenie vārdi, kas raksturo mūsu jauneklīgo kolektīvu. Vairāki plaši pazīstami zīmoli ir mums uzticējuši savus nosaukumus. Viena no mūsu prioritātēm ir saistīta ar „privātajiem” klientiem. Tā kā Krimelte sākotnēji bija mazumtirdzniecības uzņēmums, mēs varam jums garantēt, ka mēs labāk nekā jebkurš cits uzņēmums saprotam savu klientu problēmas un vajadzības.
          </p>
          <p>
            Visi hermetizētāji un PU putas, ko ražo Krimelte, ir reģistrēti Nacionālajā veselības aizsardzības inspekcijā, sertifikāts Nr. 670.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
